.btn.btn-services.active {
    border: 1px solid #37397E;
    background-color: #37397E;
    color: #ffffff;
    outline: none;
    box-shadow: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root.card-boxs-center-root {
    margin: -75px 0 0 0;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs2 {
    z-index: 3;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box {
    transform: translateY(-185px);
}


.know-wilson-section .know-wilson-div .know-wilson-root {
    min-height: 550px;
}

.know-wilson-section .know-wilson-div .know-wilson-root.active {
    min-height: 900px;
}


.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root {
    margin: 25px 0 0 0;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root.card-boxs-center-root .card-box.card-boxs2 {
    margin: -55px 0 0 0;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 .link-box.display-show {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs2 .link-box.display-show {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs3 .link-box.display-show {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1.display-show {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


div[role="form"] {
    width: 100%;
}

footer .footer-root .footer-div .contact-form textarea {
    resize: none;
    max-height: 170px;
}

/* contact-section */

footer .footer-root .footer-div .contact-form div.wpcf7 {
    display: flex;
    flex-wrap: wrap;
}

footer .footer-root .footer-div .contact-form div.wpcf7 .wpcf7-form-control-wrap {
    width: calc(100% - 56px);
}

footer .footer-root .footer-div .contact-form div.wpcf7 span.waves-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

form.wpcf7-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

footer .footer-root .footer-div .contact-form .input-group.textarea-group span.input-group-text {
    max-height: 100%;
}

footer .footer-root .footer-div .contact-form .input-group span.input-group-text {
    max-height: 56px;
}

.wpcf7-submit.btn-primary {
    padding: 0 30px;
    margin: 0;
    border: 1px solid #F5A623;
    background-color: #F5A623;
    color: #ffffff;
    min-height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    width: 100%;
}

footer .footer-root .footer-div .contact-form .btn-row {
    margin: 0 -20px 0 0;
}


div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: none !important;
    line-height: 24px;
}

span.wpcf7-not-valid-tip {
    font-size: 14px;
    margin: 5px 0;
    transition: 0.3s;
}

.wpcf7-submit.btn-primary:hover,
.wpcf7-submit.btn-primary:focus,
.wpcf7-submit.btn-primary:active {
    border: 1px solid #37397E;
    background-color: #37397E;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wpcf7-submit.btn-primary:not(:disabled):not(.disabled).active,
.wpcf7-submit.btn-primary:not(:disabled):not(.disabled):active,
.show>.wpcf7-submit.btn-primary.dropdown-toggle,
.wpcf7-submit.btn-primary:not(:disabled):not(.disabled).active,
.wpcf7-submit.btn-primary:not(:disabled):not(.disabled):active,
.show>.wpcf7-submit.btn-primary.dropdown-toggle {
    color: #fff;
    border: 1px solid #37397E;
    background-color: #37397E;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

header .header-div .logo_img {
    
    height: 36px;
    width: auto;
}

header .header-div .logo-div{ 
    width: 40%;
 }
 header .header-div .nav-center-div{
     width: 60%;
 }

/* start new changes */

/* .container { max-width: 1300px; width: 100%; } */

.know-wilson-section .know-wilson-div{ min-height: calc( 100vh - 768px); }
.main-middle-area{ min-height: 100%; }

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs2 {
    /* left: auto;
    right: auto;
    width: 100%;
    flex-direction: column;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
    
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 .btn-click {
    margin-left: -55px;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs3 .btn-click {
    margin-right: -50px;
}

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1 .level3-img {
    max-height: 65px;
}

.know-wilson-section .know-wilson-div .know-wilson-root .lines-div .pattern-div { position: relative; height: 170px; }
.know-wilson-section .know-wilson-div .know-wilson-root .lines-div .pattern-div #Group_3 { transform: translate(-269px, -448px) !important; }
svg.line-svg2.line-svg2-mobile.custom-3line { position: absolute; left: -23px; width: 100%; display: flex; justify-content: center; align-items: center; }

/* end of new changes */

.know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div2 .svg-icon-levels31.display-show.left-side-node#level3-svg-line1 svg{ height: 122px; }

@media (min-width: 1025px) {

    .hide-desktop {
        display: none;
    }

}

@media (max-width: 767px) {

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box {
        transform: none;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root {
        margin: 0px 0 0 0;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 {
        -webkit-transform: translatey(-122px);
        transform: translatey(-160px);
        margin: 0 0 -110px 0px;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1 .svg-icon-levels31 svg {
        height: 60px;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1 .svg-icon-levels31 svg path#line3 {
        stroke-dasharray: 36 24;
    }

    .hide-desktop {
        display: block;
    }

    .hide-desktop #spae-new-l3 {
        display: none;
    }

    .none-mobile {
        display: none;
    }

    .services-root.services-root2 {
        margin-bottom: 100px;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root {
        padding: 50px 0 100px 0;
    }


    footer .footer-root .footer-div .contact-form div.wpcf7 .wpcf7-form-control-wrap {
        width: calc(100% - 45px);
    }

    header .header-div .logo-div{ 
        width: 60%;
    }
    header .header-div .nav-center-div{
        width: 40%;
    }


    
    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 .btn-click {
        margin-left: 0px;
    }
    
    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs3 .btn-click {
        margin-right: 0px;
    }
    
    footer .footer-root .footer-div .contact-form .btn-row {
        margin: 0 -15px 0 0;
    }


    /*  */

    



}

@media (min-width: 768px) and (max-width: 1024px) {

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box {
        transform: none;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root {
        margin: 0px 0 0 0;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 {
        -webkit-transform: translatey(-122px);
        transform: translatey(-160px);
        margin: 0 0 -110px 0px;
    }
    

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1 .svg-icon-levels31 svg {
        height: 60px;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1 .svg-icon-levels31 svg path#line3 {
        stroke-dasharray: 36 24;
    }

    .hide-desktop {
        display: block;
    }

    .hide-desktop #spae-new-l3 {
        display: none;
    }

    .none-mobile {
        display: none;
    }

    .services-root.services-root2 {
        margin-bottom: 100px;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root {
        padding: 50px 0 100px 0;
    }

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box .inner-lines-div1.display-show {
        max-width: 245px;}

    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 .btn-click {
        margin-left: 0px;
    }
    
    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs3 .btn-click {
        margin-right: 0px;
    }
    
    footer .footer-root .footer-div .contact-form .btn-row {
        margin: 0 -15px 0 0;
    }

}

@media (min-width: 1024px) and (max-width: 1300px) {

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
   
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .know-wilson-section .know-wilson-div .know-wilson-root .carbox-root .card-box.card-boxs1 {
        padding-left: 65px;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) {
   
}