@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(waves.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);

/* colors */

$transparent-color: transparent;

$white-color: #ffffff;
$light-white-color: rgba(255, 255, 255, 0.5);

$black-color:#0F0F0F;
$darkblue-color:#37397E;

/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: Arial, Helvetica, sans-serif; scroll-behavior: smooth; }

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }

/* End of default css */

/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.pt-3{ padding-top: 3px !important; }
.p0{ padding: 0px !important; }

.btn.btn-primary{ 
    padding: 0 30px; margin: 0; border: 1px solid #F5A623; background-color: #F5A623; color: $white-color; min-height: 56px; display: flex; align-items: center; justify-content: center; font-weight: 700; font-size: 20px; transition: all 0.5s;  border-radius: 0;  outline: none; cursor: pointer;
    &:hover, &:focus, &:active{ 
        border: 1px solid #37397E; background-color: #37397E; outline: none; box-shadow: none;
    } 
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    border: 1px solid #37397E; background-color: #37397E;outline: none; box-shadow: none;
}

.btn.btn-services{
    padding: 0 30px; margin: 0 auto; border: 1px solid #EBEBF2; background-color: #EBEBF2; color: #37397E; min-height: 65px; display: flex; align-items: center; justify-content: center; font-weight: 700; font-size: 22px; transition: all 0.5s;  border-radius: 0;  outline: none;     min-width: 300px; cursor: pointer;
    border-radius: 100px; 
    &:hover, &:focus, &:active{ 
        border: 1px solid #37397E; background-color: #37397E; color: $white-color; outline: none; box-shadow: none;
        
    } 
}

.btn.btn-link { 
    padding: 0; margin: 0 auto; font-size: 18px; text-align: center; width: auto; line-height: 24px; color: #37397E; 
    &:hover, &:focus, &:active{ 
         color: #F5A623; outline: none; box-shadow: none;
    } 
}


.btnwidth-50{ width: 50%; }

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }


/* select box */

.select-box{ position: relative; display: flex; align-items: center; }
.form-control.select-control { border: 1px solid #DFEAF1; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.updown-arrowicon{  -webkit-mask: url(../images/icons/arrow-up-down.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow-up-down.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover;  width: 24px; height: 40px;  color: rgba(0, 0, 0, 0.4);  fill: rgba(0, 0, 0, 0.4);  background-color: rgba(0, 0, 0, 0.4);  margin: 0 10px 0 0; transition: 0.5s; position: absolute; right: 0; }
.right-arrowicon{  -webkit-mask: url(../images/icons/arrow_forward-24px.svg) no-repeat 50% 50%; mask: url(../images/icons/arrow_forward-24px.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover;  width: 21px; height: 18px;  color: #0097FF;  fill: #0097FF;  background-color: #0097FF; margin: 0 0 0 10px; }


/* End of select box */

/*  End of general css */

/* header */

header{

    position: relative;

    .header-div { 

        padding: 0; margin: 0; background-color: #0b162b; background-image: linear-gradient(205deg, #686BB5, #37397E); position: relative; z-index: 9999; width: 100%; min-height: 100px;  transition: all 0.5s;

        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 30%; align-items: center; min-height: 100px; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 310px; }

        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 70%; align-items: center; justify-content: flex-end; min-height: 100px; }
        
        .contact-link{ 
            padding: 0; margin: 0; display: flex; align-items: center; color: $white-color; font-size: 28px; line-height: 36px; font-weight: 700;
            .custom-icon{ font-size: 28px; margin: 0 10px 0 0; }
        }
        
        /*  End of navigation  */

    }

}

/* End of header */

/* inner-section */

.main-middle-area{  
    padding: 0; margin: 0; min-height: calc( 100vh - 100px);
}


.heading-div{ 
    padding: 0; margin: 0;
    h2{ padding: 0; margin: 0 0 10px 0; color: $black-color; font-size: 26px; line-height: 32px; font-weight: 400;}
    p{ padding: 0; margin: 0 0 15px 0; color: $darkblue-color; font-size: 18px; line-height: 24px; font-weight: 400;  }

}


.know-wilson-section{ 
    padding: 50px 0 0 0;  margin: 0; 
    .know-wilson-div{
        background: url(../images/bubble-background.svg) no-repeat; background-size: cover; min-height: calc( 100vh - 100px);

        .know-wilson-root{ 
            padding: 50px 0 0 0; margin: 0; min-height: 850px;
            
            .top-services-heading{ padding: 0px 0 0 0;  margin: 0;  }

            .arrow-div{ 
                position: relative; margin: -10px 0 0 0;
                .arrow-round{ 
                    padding: 0px 0 0 0;  margin: 0 auto; background-color: #37397E; color: $white-color; display: flex; align-items: center; justify-content: center; height: 20px; width: 20px; border-radius: 100px;  
                    .material-icons{ font-size: 20px; }
                }
            }

            .lines-div{ 
                display: flex; justify-content: center; text-align: center; flex-direction: column; width: 100%;
                .line-svg1{ margin: 0 auto; }
                .round-span-center{ display: block; margin: 0 auto; text-align: center;
                    span.rouns-span1 { border: 2px solid rgba(245, 166, 35, 0.35); border-radius: 100%; height: 12px; width: 12px; display: flex; align-items: center; justify-content: center; }
                    span.rouns-span2 { width: 8px; height: 8px; background-color: #F5A623; border: 2px solid #fff; display: inline-block; border-radius: 100%; }
                } 
                .line-svg2{ margin: 0 auto; }
                .pattern-div { padding-right: 0px; margin: 0px -3px 0 0; }
                .pattern-div2{ padding-right: 1px; margin: 0px; }
             }

            .btnlink-div{ padding: 0px 0 0 0;  margin: 20px 0 0 0 ; }

            .carbox-root{ 
                padding: 0; margin: -10px 0 0 0; position: relative; 

                .card-box{
                    padding: 0; margin: 0; position: absolute; transform: translateY(-158px); display: inline-block;
                    .link-box{ 
                        background: #FFFFFF;
                        border: 12px solid #FFFFFF;
                        box-shadow: 0 6px 14px 0 #F2F2F2;
                        padding:0 0;
                        width: 245px; transition: 0.9s; cursor: pointer;
                        h4 {     padding: 5px 0 10px 0; margin: 0 0 0px 0; color: #0F0F0F; font-size: 16px; line-height: 20px; font-weight: 400; text-align: left; }
                        .img-box-thumb { width: 100%; overflow: hidden; }
                        .img-card{ width: 100%; height: 100px; overflow: hidden; object-fit: cover; object-position: center; transform-origin: 0 0;
                            transition: transform .5s, visibility .5s ease-in-out;  }

                    }
                    &:hover, &:focus{ 
                        outline: none; 
                        .link-box{
                            transform: scale(1.05); 
                        }
                    }
                    
                   
                    /* level3 */

                    .btn-click{ padding: 0; margin: 0; background-color: transparent; outline: none; border: none; cursor: pointer;  }
                    .btn-click img {width: auto; border-radius: 100px; overflow: hidden;}

                    .inner-lines-div1 { 
                        
                        .svg-icon-levels31{  display: flex; padding-left: 50px;  }
                        .level3-img { max-height: 65px; }
                        .img-thumb-inner{ 
                            margin: 5px 0 0 0;
                            margin-left: -60px;
                        }  
                        
                        
                    }
                    .inner-lines-div1-o {
                        .img-thumb-inner {margin-left: 0px;}
                        
                    }

                    .inner-lines-div2{ 
                        .svg-icon-levels31{ padding-left: 0; margin: 0 auto; justify-content: center; }
                    }

                    .inner-lines-div3{ 
                        .svg-icon-levels31{ padding-left: 0; padding-right: 50px;   margin: 0 auto; justify-content: flex-end; }
                        .img-thumb-inner{ 
                            margin-right: -60px;
                                .btn-click{ float: right; 
                                }
                        }
                    }

                }

                .card-box-round {
                    
                    .link-box-round {
                        padding: 0 25px;
                        margin: 0 auto;
                        border: 1px solid #EBEBF2;
                        background-color: #EBEBF2;
                        color: #37397E;
                        min-height: 65px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        font-weight: 700;
                        font-size: 22px;
                        -webkit-transition: all 0.5s;
                        transition: all 0.5s;
                        border-radius: 0;
                        outline: none;
                        min-width: auto;
                        width: auto;
                        cursor: pointer;
                        border-radius: 100px;

                        h4 {
                            padding: 0;
                            font-weight: 600;
                            font-size: 16px;
                            color: #37397E;
                            white-space: nowrap;
                        }
                        &:hover, &:focus, &:active{ 
                            border: 1px solid #37397E; background-color: #37397E; color: $white-color; outline: none; box-shadow: none;
                            h4 {color: #ffffff;}
                        } 
                    }
                }

                .card-box.card-boxs1{ left: -20px;  z-index: 3; }
                .card-box.card-boxs2{ left: 160px; right: auto; width: 245px; transform: translateY(-20px); margin: 0 auto; text-align: center; z-index: 1;
                    &:hover, &:focus{ 
                         outline: none; z-index: 4;
                        .link-box{
                            transform: scale(1.05); 
                        }
                    }
                }

                .card-box.card-boxs3{ right: -10px;  z-index: 2;
                
                    .angle-right {
                        position: relative;
                        right: 33px;
                        top: -25px;
                        z-index: -1;
                    }
                }
                

            }

        }

    }
 }



/* End of inner-section */


footer{ 
    .footer-root{ 
        padding: 0px 0 0 0; margin: 0; background-color: #0b162b;  background-image: linear-gradient(205deg, #686BB5, #37397E); 

        .footer-div{ 
            padding: 50px 0 30px 0; margin: 0; position: relative; color: $white-color;background: url(../images/footer-banner.svg) no-repeat; background-size: cover; background-position-y: 55px; min-height: 550px;

            .footer-heading-div{ padding: 0; margin: 0; 
                p{  padding: 0; margin: 0 0 15px 0; color: $light-white-color; font-size: 14px; text-transform: uppercase; line-height: 20px;font-weight: 400; }
                h2{  padding: 0; margin: 0 0 15px 0; color: $white-color; font-size: 30px; line-height: 40px; font-weight: 400; }
            }

            .contact-form{
                margin: 20px 0 0 0;
                .form-control { 
                    background-color: #FFFFFF; font-size: 16px; color: rgba(15, 15, 15, 0.6); min-height: 56px; border-radius: 0px; border: 1px solid #fff; padding: 15px 15px;     word-break: break-word;
                    &:focus{ outline: none; box-shadow: none; }
                }
                textarea{ resize: none; min-height: 170px; }
              
                .form-control::-webkit-input-placeholder { color: rgba(15, 15, 15, 0.4); }
                .form-control::-moz-placeholder { color: pink; }
                .form-control:-ms-input-placeholder { color: pink; }
                .form-control:-moz-placeholder {  color: pink; }

                .input-group{ margin: 0 0 30px 0;
                    span.input-group-text { border: 1px solid #fff !important; border-radius: 0px;  background-color: #fff;  padding: 13px 20px; color: #D2D3D8; min-width: 56px; display: flex; align-items: center; justify-content: center; } 
                }
                .textarea-group{ 
                    span.input-group-text{ align-items: flex-end; padding-bottom: 20px; }

                }
                .input-group-append { margin-left: -2px; }
                
                .btn-row{ display: flex; }

            }

        }


    }
}

/* end of home page */

/* key frames */

@-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }

  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  
/* End of keyframes */


@media (min-width: 1025px) and (max-width: 1290px) {

}

@media (min-width: 1025px) and (max-width: 1450px) {

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

/* jquery css */


.display-none{ display: none !important;  }
.display-show{ display: block !important;  }

.add-hide-prag{  display: none !important;  }
.add-show-prag{ display: block !important;  }

.img-thumb-inner.add-top-height { margin-top: 175px !important; z-index: 9; }

// .card-box.card-boxs2 div#level3-cards2 .img-thumb-inner.add-top-height { margin-top: 80px !important; z-index: 9; }


@media (max-width: 767px) {

    .btnwidth-50 { width: 100%; }
    .btn.btn-primary{     font-size: 16px; }

    header{
        .header-div{

            .logo-div{ width: 50%; }
            .nav-center-div{  width: 50%; }
            .contact-link{
                 font-size: 20px; 
                 .custom-icon {
                    font-size: 22px;
                    margin: 0 5px 0 0;
                }
            }
            
        }   
    }

    .know-wilson-section{ background-color: #fafafa;


        
        .know-wilson-div{
            background: none;
            .know-wilson-root{ 
                
                .carbox-root{ margin: 0 auto 0 auto; position: relative; text-align: center;
                    .inner-lines-div1 {
                        .img-thumb-inner {
                            margin-left: 0px !important;
                        }
                    
                    }
                    .inner-lines-div3 
                    {
                     .img-thumb-inner {
                         margin-right: 0px !important;
                     }

                     .angle-right{display: none !important;}
                    }
                    .card-box{ 
                        position: relative; transform: none; margin: 0 0 50px 0;  
                        &:hover, &:focus{
                            .link-box{ transform:none }
                        }
                    }
                    .card-box.card-boxs2 { left:auto; position: relative; width: auto; transform: none;  margin: 0 0 50px 0; }
                    .svg-icon-levels33{ display: none; }
                    .card-box .inner-lines-div1 .svg-icon-levels31 { padding-left: 0; justify-content: center; }
                    .inner-lines-div1.inner-lines-div3 .svg-icon-levels31 {     padding-right: 0px; }
                    .card-box .inner-lines-div3 .img-thumb-inner .btn-click { float: none; }
                    .card-box.card-boxs1 { transform: translatey(-122px); margin: 0 0 0 0; left: 0; }
                    .card-box.card-boxs3 {right: 0;
                    
                       
                        
                    }



                } 
                
                svg.line-svg2.line-svg2-mobile{ 
                    #Path_5{ opacity:0; }
                    #Oval{ opacity:0; }
                }
                 
                
                .services-root.services-root2 { margin: 100px 0; }

                

            }
        }
    }        



    footer{ 
        .footer-root{ 
           
            .footer-div{ 
    
                .contact-form{
                    .form-control { font-size: 15px; padding: 15px 12px; }
                    .input-group span.input-group-text{ padding: 13px 12px; min-width: 45px; }
    
                }
    
            }
    
    
        }
    }

    

}

@media (min-width: 768px) and (max-width: 1024px) {

    .heading-div{ 
        h2{ font-size: 28px; } 
        p{ font-size: 16px; } 
    }

    .know-wilson-section{ background-color: #fafafa;
        .know-wilson-div{
            background: none;
            .know-wilson-root{ 
                
                .carbox-root{ margin: 0 auto 0 auto; position: relative; text-align: center;
                    .card-box{ 
                        position: relative; transform: none; margin: 0 0 30px 0;  
                        &:hover, &:focus{
                            .link-box{ transform:none }
                        }
                    }

                    .card-box.card-boxs2 { left:auto; position: relative; width: auto; transform: none;  margin: 0 0 30px 0; }
                    .svg-icon-levels33{ display: none; }
                    .card-box .inner-lines-div1 .svg-icon-levels31 { padding-left: 0; justify-content: center; }
                    .inner-lines-div1.inner-lines-div3 .svg-icon-levels31 {     padding-right: 0px; }
                    .card-box .inner-lines-div3 .img-thumb-inner .btn-click { float: none; }
                    .card-box.card-boxs1 { transform: translatey(-122px); margin: 0 auto -70px auto; display: block; left: 0px; }

                    .inner-lines-div1 {
                        .img-thumb-inner {
                            margin: 5px 0 0 0;
                            margin-left: -60px;
                        }
                    }
                  
                } 
                
                svg.line-svg2.line-svg2-mobile{ 
                    #Path_5{ opacity:0; }
                    #Oval{ opacity:0; }
                }
                 

            }
        }
    } 
    

    

}

@media (min-width: 1024px) and (max-width: 1366px) {

}
